@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
html {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}
.location{
  position: relative;
  left: 90px;
  top: 40px;
}
.cityName{
  position: relative;
  left: 10px;
  top: -5px;
  margin-right: 80px;
  color: rgba(0, 0, 0, 0.621);
}
.dropDown{
  position: absolute;
  left: 160px;
  top: -2px;
}
.line{
  position: absolute;
  left: 180px;
  top: -4px;
  background-color: rgba(0, 0, 0, 0.482);
  height: 28px;
  width: 1.5px;
}
.glass{
  position: absolute;
  left: 200px;
  top: 0px;
}
.search1 {
  padding-top: 2px;
  padding-left: 15px;
  color: rgba(0, 0, 0, 0.482);
}
.deliveryText{
  position: relative;
  top: -65px;
  left: 80px;
}
.diningText{
  position: relative;
  top: -65px;
  left: 80px;
}
.nightLifeText{
  position: relative;
  top: -65px;
  left: 80px;
}
::placeholder {
  position: relative;
  left: 240px;
  color: rgba(0, 0, 0, 0.621);
}
.header {
  display: flex;
  background-color: white;
  width: 100vw;
  height: 15vh;
}
.zomato {
  position: relative;
  top: 15px;
  width: 10vw;
  height: 5vh;
  margin-left: 70px;
  margin-top: 15px;
}
.text {
  margin-left: 70px;
  height: 7vh;
  width: 50vw;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: solid 1px black;
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.799);
}
.login {
  position: relative;
  top: 20px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-size: 19px;
  color: rgba(0, 0, 0, 0.678);
  margin-left: 50px;
  margin-top: 10px;
  height: 5vh;
  width: 10vh;
}
.SignUp {
  position: relative;
  top: 20px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-size: 19px;
  color: rgba(0, 0, 0, 0.678);
  margin-left: 30px;
  margin-top: 10px;
  height: 5vh;
  width: 10vh;
}
.heading {
  display: flex;
  width: 100vw;
  height: 15vh;
  border: 10px black;
  background-color: white;
}
.delivery {
  padding-top: 20px;
  margin-left: 130px;
  width: 10vw;
  text-align: center;
  font-size: x-large;
}
.pic1 {
  position: relative;
  width: 35px;
  height: 35px;
  background-color: cornsilk;
  border-radius: 50px;
}
.dining {
  padding-top: 20px;
  margin-left: 60px;
  width: 10vw;
  text-align: center;
  font-size: x-large;
}
.pic2 {
  position: relative;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  background-color: cornsilk;
}
.nightlife {
  padding-top: 20px;
  margin-left: 60px;
  width: 10vw;
  text-align: center;
  font-size: x-large;
}
.pic3 {
  position: relative;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  background-color: cornsilk;
}
.options {
  display: flex;
}
.filters {
  position: relative;
  left: 120px;
  margin-top: 10px;
  height: 7vh;
  width: 20vh;
  margin-left: 70px;
  border-radius: 10px;
}
.rating {
  position: relative;
  left: 120px;
  margin-top: 10px;
  height: 7vh;
  width: 20vh;
  margin-left: 40px;
  border-radius: 10px;
}
.cuisines {
  position: relative;
  left: 120px;
  margin-top: 10px;
  height: 7vh;
  width: 20vh;
  margin-left: 40px;
  border-radius: 10px;
}
.line1 {
  padding-top: 90px;
  margin-left: 80px;
  font-size: xx-large;
}
.items {
  display: flex;
  position: relative;
  left: 60px;
  top: 10px;
}
.circle {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
  padding: 15px;
}
.line2 {
  padding-top: 90px;
  margin-left: 80px;
  font-size: xx-large;
}
.restaurant {
  display: flex;
  position: relative;
  left: 60px;
  top: 10px;
}
.ich {
  margin-left: 80px;
}
.circle2 {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
  padding: 15px;
}
.line3 {
  padding-top: 90px;
  margin-left: 80px;
  font-size: xx-large;
}
.bestcafe {
  display: flex;
  position: relative;
  left: 60px;
  top: 10px;
}
.houseofblends {
  margin-left: 60px;
}
.circle3 {
  height: 350px;
  width: 400px;
  border-radius: 50px;
  overflow: hidden;
  padding: 20px;
}
.text-bold {
  font-weight: bold;
}
.dishnames{
  display:flex;
}
.dish1{
  position:relative;
  left: 160px;
  font-size: larger;
  top: 10px;
}
.dish2{
  position:relative;
  left: 350px;
  font-size: larger;
  top: 10px;

}
.dish3{
  position:relative;
  left: 530px;
  font-size: larger;
  top: 10px;
}
.dish4{
  position:relative;
  left: 710px;
  font-size: larger;
  top: 10px;
}
.dish5{
  position:relative;
  left: 900px;
  font-size: larger;
  top: 10px;

}
.dish6{
  position:relative;
  left: 1050px;
  font-size: larger;
  top: 10px;
}

.cafe1{
  position:relative;
  left: 100px;
  font-size: larger;
  top: 10px;
}
.cafe2{
  position:relative;
  left: 200px;
  font-size: larger;
  top: 10px;

}
.cafe3{
  position:relative;
  left: 335px;
  font-size: larger;
  top: 10px;
}
.cafe4{
  position:relative;
  left: 450px;
  font-size: larger;
  top: 10px;
}
.cafe5{
  position:relative;
  left: 540px;
  font-size: larger;
  top: 10px;

}
.cafe6{
  position:relative;
  left: 605px;
  font-size: larger;
  top: 10px;
}
.bestcafe_more{
  display: flex;
  position: relative;
  left: 60px;
  top: 180px;
}
.haldirams {
  margin-left: 60px;
}
.one{
  position:relative;
  left: 240px;
  font-size: larger;
  top: 10px;
}
.two{
  position:relative;
  left: 580px;
  font-size: larger;
  top: 10px;

}
.three{
  position:relative;
  left: 880px;
  font-size: larger;
  top: 10px;
}
.four{
  position:relative;
  left: 270px;
  font-size: larger;
  top: 180px;
}
.five{
  position:relative;
  left: 650px;
  font-size: larger;
  top: 180px;

}
.six{
  position:relative;
  left: 1000px;
  font-size: larger;
  top: 180px;
}